<h1>Pagina tipo personal</h1>
@model Personal
@Html.LabelFor(m=>m.name,"NAME"): @Model.name <br/>
@Html.LabelFor(m=>m.lastname,"LASTNAME"): @Model.lastname <br/>
@Html.LabelFor(m=>m.age,"AGE"): @Model.age <br/>
@Html.LabelFor(m=>m.email,"EMAIL"): @Model.email <br/>
@Html.LabelFor(m=>m.number,"NUMBER"): @Model.number <br/>
@Html.LabelFor(m=>m.address,"ADDRESS"): @Model.address